body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

/*******************************************************************************************************************************/
/*Registration*/
.registration-page {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/admin.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  color: white;
  text-align: left;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

/*****************************************************************************************************************/
/*login*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  /* Empêche le défilement */
}

.login-page {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/admin.jpg");
  /* Assurez-vous que le chemin est correct */
  background-size: cover;
  /* Couvre toute la page */
  background-position: center;
  /* Centre l'image */
  background-repeat: no-repeat;
  /* Évite la répétition de l'image */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  color: white;
  text-align: left;
}

.logo {
  display: block;
  margin: auto;
  width: 200px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  /* Couleur pour le message d'erreur */
  margin-top: 10px;
  text-align: center;
  /* Centrer le message d'erreur */
}

.register-link {
  color: #007bff;
  /* Couleur du texte */
  cursor: pointer;
  /* Changer le curseur en pointeur */
  text-align: center;
  /* Centrer le texte */
  margin-top: 10px;
  /* Espace au-dessus du texte */
  font-size: 0.8rem;
  /* Taille de la police */
}

.register-link:hover {
  text-decoration: underline;
  /* Souligner au survol */
}

/*Mot de passe oublié*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure modal is on top */
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 8px;
  color: white;
  width: 300px;
  text-align: center;
}

.forgot-password {
  color: #007bff;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  font-size: 0.8rem;
  /* Adjust the font size here */
}

.forgot-password:hover {
  text-decoration: underline;
}

/* Lien vers Admin login */

.admin-link {
  color: #f8f9fa;
  /* Couleur du texte (blanc clair) */
  cursor: pointer;
  /* Changer le curseur en pointeur */
  text-align: center;
  /* Centrer le texte */
  margin-top: 15px;
  /* Espace au-dessus du texte */
  font-size: 0.9rem;
  /* Taille de la police réduite */
  font-weight: bold;
  /* Mettre le texte en gras */
}

.admin-link:hover {
  text-decoration: underline;
  /* Souligner au survol */
  color: #ff0000;
  /* Changer la couleur du texte au survol (rouge) */
}

/* Optionnel : Animation de survol pour effet de transition */
.admin-link {
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

/* Spinner de chargement */
.loading-spinner {
  border: 4px solid #f3f3f3;
  /* Couleur du fond du spinner */
  border-top: 4px solid #007bff;
  /* Couleur de la barre tournante */
  border-radius: 50%;
  /* Forme circulaire */
  width: 30px;
  /* Taille du spinner */
  height: 30px;
  /* Taille du spinner */
  animation: spin 1s linear infinite;
  /* Animation de rotation infinie */
}

/* Animation de rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*******************************************************************************************************************************/
/*admin login*/

/* Styles du bouton de retour */
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: bold;
}

.back-button:hover {
  text-decoration: underline;
}

/* Styles du conteneur de la page admin */
.admin-login-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  background-image: url("../public/client.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgb(6, 6, 6);
}

/* Styles du conteneur de la page admin */
.admin-login-container {
  width: 350px;
  background-color: rgba(255, 255, 255, 0.8);
  /* Ajoute une opacité pour lisibilité */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.admin-login-form .logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.admin-login-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.admin-login-form label {
  margin-bottom: 5px;
  font-size: 14px;
}

.admin-login-form input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #060606;
  border-radius: 5px;
}

.admin-login-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-login-form button:hover {
  background-color: #0056b3;
}

/* Message d'erreur */
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
